<ion-view view-title="Home">
    <ion-content style="margin :0 auto;padding-top:20vh;">
        <div class="title " style="text-align: center;font-weight: bold" style="margin-top: 30%">
            <span>CAMPs</span>
        </div>
        <div class="card mystyle " style="box-shadow:0px 10px 10px grey;border-radius: 10% ; ">


            <a ng-href="#/app/search " style="text-decoration: none ">
                <button class="button button-block button-calm " style="width: 90%;margin-left: 5% ">SEARCH</button>

            </a>

            <br>
            <a ng-href="#/app/post " style="text-decoration: none ">
                <button class="button button-block button-balanced " style="width: 90%;margin-left: 5% ">
                    POST
                </button>
            </a>
            <br>
            <!--<button id="login-button10 " class="button button-positive button-block icon-left ion-social-facebook " ng-click="facebookLogin() " style="width: 90%;margin-left: 5% ">Login
                with Facebook
            </button>-->
            

            
    </ion-content>
</ion-view>