<ion-view view-title="Home">
    <ion-content style="margin :0 auto;">
        <div class="card">
            <div class="title " style="text-align: center;font-weight: bold" style="margin-top: 30%">
                Know about camp
            </div>
            <br>
            <a ng-href="#/app/search" style="text-decoration: none">
                <button class="button button-block button-calm ">
                    SEARCH
                </button>
            </a>
            <br>

            <a ng-href="#/app/post" style="text-decoration: none">
                <button class="button button-block button-balanced ">
                    POST
                </button>
            </a>
        </div>
    </ion-content>
</ion-view>