<ion-view view-title="Home" style="background-color:rgba(93,127,55,0.3)">
    <ion-content style="margin :0 auto;padding-top:20vh;">
        <div class="title " style="text-align: center;font-weight: bold" style="margin-top: 30%">
            <span>Know about camp</span>
        </div>
        <div class="card mystyle " style="box-shadow:0px 10px 100px yellow,0px 0px 40px rgba(9,61,111,0.2) inset;border-radius: 10% ;background-color: rgba(0,0,0,0.5) ">


            <a ng-href="#/app/search " style="text-decoration: none ">
                <button class="button button-block button-calm " style="width: 90%;margin-left: 5% ">SEARCH</button>

            </a>


            <a ng-href="#/app/post " style="text-decoration: none ">
                <button class="button button-block button-balanced " style="width: 90%;margin-left: 5% ">
                    POST
                </button>
            </a>
            <button id="login-button10 " class="button button-positive button-block icon-left ion-social-facebook " ng-click="facebookLogin() " style="width: 90%;margin-left: 5% ">Login
                with Facebook
            </button>


            <button class="button button-block button-calm " ng-click="getReq() " style="width: 90%;margin-left: 5% ">
                    Json print
                </button>

        </div>
        {{data}} {{first}}
    </ion-content>
</ion-view>