<ion-view>
    <ion-content class="card">

        <div style="height: 300px;width:300px;border:2px solid red;text-align: center">
            <div id="map" data-tap-disabled="true" style="height: 100%;width:100%"></div>
        </div>
        <div class="card">
            <ul>
                <div class="" ng-repeat="friend in friends">
                    <li> {{friend.name}} {{friend.age}}</li>
                </div>
            </ul>
        </div>
    </ion-content>
</ion-view>

<!--<script>
    function initMap() {
        var uluru = {
            lat: 13.2984920,
            lng: 80.1484450
        };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFiHRQt6AQL2MjII2VfI9mn7ArlDRiJl4&callback=initMap ">
</script>-->