<ion-view view-title="Home" style="background:url(img/nature.jpg);background-repeat: no-repeat;background-position:0 0;background-size:cover;" hide-nav-bar="true" ng-controller="SignupCtrl">
    <ion-content style="margin :0 auto;padding-top:20vh;">
        <div class="title " style="text-align: center;font-weight: bold" style="margin-top: 30%">
            <span style="color:white"><h1>HEALTH<br>CAMPS<h1></span>
        </div>
        <div class="card " style="box-shadow:0px 10px 10px grey;border-radius: 20px ; background-color: rgba(0,0,0,0.5)">
            <br>
            <label class="item item-input" style="width: 90%;margin-left: 5%;border-radius: 20px;margin-bottom: 3% ">
                <span class="input-label ">Username</span>
                <input type="text" ng-model="username">
       
            </label>

            <label class="item item-input" style="width: 90%;margin-left: 5%;border-radius: 20px;margin-bottom: 3%">
                <span class="input-label">Password</span>
                <input type="password" ng-model="password1">
            </label>


            <label class="item item-input" style="width: 90%;margin-left: 5%;border-radius: 20px;">
                    <span class="input-label">Repeat </span>
                    <input type="password" ng-model="a.password2">
                </label>


            <a ng-href="#/app/post " style="text-decoration: none ">
                <button class="button button-block button-balanced ion-ios-plus-outline " style="width: 90%;margin-left: 5%;border-radius: 20px">
                        SIGNUP{{username}}  {{password1}}
                </button>
            </a>




    </ion-content>
</ion-view>